* {
 margin: 0;
 padding: 0;
}

.menu-container {
    background-color: rgb(38, 1, 53);
    padding: 20px;
    color: #fff;
    list-style: none;
    display:flex;
    justify-content: space-around;
    align-items: center;border-bottom: 1px solid white;
}

.logo{
    display:flex;
    justify-content: end;
    align-items: center; 
}

.logo h2 {
    margin-left: 10px;
    /* background: -webkit-linear-gradient(#0072DB, #FAA700); */
    background: -webkit-linear-gradient(left, #0072DB , #ffffff);
    background: -o-linear-gradient(right, #0072DB, #ffffff);
    background: -moz-linear-gradient(right, #0072DB, #ffffff);
    background: linear-gradient(to right, #0072DB , #ffffff); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo-photo {
    width: 50px;
}

.menus {
    display:flex;
    justify-content: end;
    align-items: center; 
}

.menus li {
    margin-left: 10px;
    padding-right: 7px;
    font-size: 18px;
}
.menus li:hover {
    color:#0072DB;
}

.banner-img {
    width: 400px;
}
.banner-container {
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    background-image:linear-gradient(to right, rgb(6, 6, 6), rgba(51, 3, 39, 0.967)), url('./assets/black_tile.png');
    color: #fff;
}